<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "/WEB-INF/classes/mybatis-3-mapper.dtd">

<mapper namespace="announcementNoticeBasicInfo">
  <resultMap id="announcementBasicInfoMap" type="data.platform.entity.EntityAnnouncementBasicInfo">  
        <id property="id" column="id"/>  
        <result property="title" column="Title"/>
        <result property="context" column="Context"/>
        <result property="status" column="Status"/>
        <result property="seqNums" column="SeqNums"/>
        <result property="publishPerson" column="PublishPerson"/>
        <result property="publishDate" column="PublishDate"/>
        <result property="enableTimeStart" column="EnableTimeStart"/>
        <result property="enableTimeEnd" column="EnableTimeEnd"/>
        <result property="publishPersonId" column="PublishPersonId"/>
        <result property="createDate" column="CreateDate"/>
        <result property="schoolType" column="SchoolType"/>
        <result property="partakePersons" column="PartakePersons"/>
        <result property="partakePersonIDs" column="PartakePersonIDs"/>
        <result property="publishDept" column="PublishDept"/>
        <result property="announcementType" column="AnnouncementType"/>
        <!-- 关联附件信息-->
        <collection property="files"  ofType="data.platform.entity.EntityPlatformFile" javaType="java.util.ArrayList">
			<id property="id" column="f_id"/>  
        	<result property="fileName" column="f_FileName"/>
        	<result property="path" column="f_Path"/>
        	<result property="fileNameInServer" column="f_FileNameInServer"/>
		</collection>
   </resultMap>
   
   <!-- 依据id查询公告信息-->
	<select id="load" parameterType="java.lang.String" resultMap="announcementBasicInfoMap">
    <![CDATA[
        select * from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo  where id = #{id}
    ]]>
	</select>
	
	<!-- 分页查询公告信息 -->
	<select id="selectPaging" needPaging="true" parameterType="Map" resultType="Map">
    <![CDATA[
        select aa.* from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo aa  
    ]]>
<where>
   and 1=1
   	<if test="title!=null and title!=''">
    		AND aa.Title Like CONCAT('%',#{title},'%')
    	</if>
    	<if test="context!=null and context!=''">
    		AND aa.Context Like CONCAT('%',#{context},'%')
    	</if>
    	<if test="announcementType!=null and announcementType!=''">
    		AND aa.AnnouncementType = #{announcementType}
    	</if>
    	<if test="publishPerson!=null and publishPerson!=''">
    		AND aa.PublishPerson Like CONCAT('%',#{publishPerson},'%')
    	</if>
    	<if test="publishPersonId!=null and publishPersonId!=''">
    		AND aa.PublishPersonId &gt;= #{publishPersonId}
    	</if>
    	<if test="currentTime!=null and currentTime!=''"><!-- 当前时间之后的有效期 -->
    		AND aa.EnableTimeEnd &gt;= #{currentTime}
    	</if>
    	<if test="enableTimeStart!=null and enableTimeStart!='' and (enableTimeEnd==null or enableTimeEnd=='')"><!-- 有效时间大于的5  2-6，6>5是要的 -->
	   		AND aa.EnableTimeEnd &gt;= #{enableTimeStart}
	   	</if>
    	 <if test="enableTimeEnd!=null and enableTimeEnd!='' and (enableTimeStart==null or enableTimeStart=='')"><!-- 有效时间小于于的5 2-6，2<5是要的-->
	   		AND aa.EnableTimeStart &lt;= #{enableTimeEnd}
	   	</if>
	   	<if test="enableTimeStart!=null and enableTimeStart!='' and enableTimeEnd!=null and enableTimeEnd!=''">
	   		AND ( (aa.EnableTimeEnd between #{enableTimeStart} and #{enableTimeEnd} or aa.EnableTimeStart between #{enableTimeStart} and #{enableTimeEnd})
	   		or (#{enableTimeStart} &lt;= aa.EnableTimeEnd and #{enableTimeEnd} &gt;= aa.EnableTimeStart) )
	   	</if>
</where>
    
    
	</select>
	<!-- 导出公告信息 -->
	<select id="importExcel" parameterType="Map" resultType="Map">
    <![CDATA[
        select aa.* from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo aa  
    ]]>
<where>
   and 1=1
   	<if test="title!=null and title!=''">
    		AND aa.Title Like CONCAT('%',#{title},'%')
    	</if>
    	<if test="context!=null and context!=''">
    		AND aa.Context Like CONCAT('%',#{context},'%')
    	</if>
    	<if test="announcementType!=null and announcementType!=''">
    		AND aa.AnnouncementType = #{announcementType}
    	</if>
    	<if test="publishPerson!=null and publishPerson!=''">
    		AND aa.PublishPerson Like CONCAT('%',#{publishPerson},'%')
    	</if>
    	<if test="publishPersonId!=null and publishPersonId!=''">
    		AND aa.PublishPersonId &gt;= #{publishPersonId}
    	</if>
    	<if test="currentTime!=null and currentTime!=''"><!-- 当前时间之后的有效期 -->
    		AND aa.EnableTimeEnd &gt;= #{currentTime}
    	</if>
    	<if test="enableTimeStart!=null and enableTimeStart!='' and (enableTimeEnd==null or enableTimeEnd=='')"><!-- 有效时间大于的5  2-6，6>5是要的 -->
	   		AND aa.EnableTimeEnd &gt;= #{enableTimeStart}
	   	</if>
    	 <if test="enableTimeEnd!=null and enableTimeEnd!='' and (enableTimeStart==null or enableTimeStart=='')"><!-- 有效时间小于于的5 2-6，2<5是要的-->
	   		AND aa.EnableTimeStart &lt;= #{enableTimeEnd}
	   	</if>
	   	<if test="enableTimeStart!=null and enableTimeStart!='' and enableTimeEnd!=null and enableTimeEnd!=''">
	   		AND ( (aa.EnableTimeEnd between #{enableTimeStart} and #{enableTimeEnd} or aa.EnableTimeStart between #{enableTimeStart} and #{enableTimeEnd})
	   		or (#{enableTimeStart} &lt;= aa.EnableTimeEnd and #{enableTimeEnd} &gt;= aa.EnableTimeStart) )
	   	</if>
	   	order by PublishDate desc
</where>
    
    
	</select>
	<!-- 依据id查询公告信息-->
	<select id="loadNoticeInfoById" parameterType="java.lang.String" resultType="Map">
    <![CDATA[
        select * from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo where id = #{id}
    ]]>
	</select>
	
	<!-- 依据id查询公告信息（带有附件）-->
	<select id="loadNoticeInfo" parameterType="java.lang.String" resultMap="announcementBasicInfoMap">
    <![CDATA[
        select noticeInfo.*,f.id as f_id,f.FileName as f_FileName,f.FileNameInServer as f_FileNameInServer, f.FilePathInServer as f_Path
        from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo noticeInfo left join
                       &{framework.tmis.table.prefix['platform']}tbl_PD_Accessory f on f.AssociatedObjectID = noticeInfo.id
         where noticeInfo."id" = #{id} 
    ]]>
	</select>
	
	<!-- 查询所有已发布的公告信息-->
	<select id="searchAllAnnouncements" resultMap="announcementBasicInfoMap">
    <![CDATA[
        select noticeInfo.* from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo noticeInfo where (getDate() between EnableTimeStart and EnableTimeEnd) and Status=2 order by SeqNums asc, PublishDate desc
    ]]>
	</select>
	<!-- 根据人员编号查询已发布的公告信息-->
	<select id="searchAnnouncementsById" parameterType="Map" resultMap="announcementBasicInfoMap">
		<![CDATA[
			select * from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo noticeInfo where (getDate() between EnableTimeStart and EnableTimeEnd) and #{currentId} in (select PartakePersonIDs from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo where id = noticeInfo.id) and Status=2 order by PublishDate DESC
		]]>
	</select>
	<!-- 查询某人是不是，该公告参与者-->
	<select id="selectPartakePerson" parameterType="java.lang.String" resultType="Map">
    <![CDATA[
      select * from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo 
         where  PublishPersonId=#{userId}
        		AND AnnouncementType=#{noticeType}
        		
    ]]>
	</select>
	
	<!-- 查询用户关联角色 -->
    <select id="selectUserRoles" parameterType="java.lang.String" resultType="java.lang.String">
    <![CDATA[
        select RoleID from &{framework.tmis.table.prefix['platform']}tbl_Platform_UserRoleMapping where UserID = #{userId}
    ]]>
	</select>
	
	<!-- 查看通知公告 -->
	<select id="selectAnnouncementPaging" needPaging="true" parameterType="Map" resultType="Map">
    <![CDATA[
        select  n.* from &{framework.tmis.table.prefix['platform']}tbl_ref_Announce_School t 
       		left join &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo n on n.ID=t.AnnouncementId
        where t.PersonId = #{currentId}
    ]]>
	</select>
	<!-- 更新公告信息 -->
	<update id="updateAnnouncement" parameterType="data.platform.entity.EntityAnnouncementBasicInfo">
	    <![CDATA[
        update &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo
		set Title=#{title},
			Context=#{context},
			Status=#{status},
			AnnouncementType=#{announcementType},
			SeqNums=#{seqNums},
			PublishPerson=#{publishPerson},
			PublishDate=#{publishDate},
			EnableTimeStart=#{enableTimeStart},
			EnableTimeEnd=#{enableTimeEnd},
			PublishPersonId=#{publishPersonId},
			CreateDate=#{createDate},
			PartakePersons=#{partakePersons},
			PartakePersonIDs=#{partakePersonIDs},
			PublishDept=#{publishDept},
			SchoolType=#{schoolType},
			TeamNames=#{teamNames}
		    where "id" = #{id}
    ]]>
	</update>
	<!-- 新增公告 -->
	<insert id="insertAnnouncement" parameterType="data.platform.entity.EntityAnnouncementBasicInfo">
	<selectKey resultType="java.lang.String" keyProperty="id" order="BEFORE">  
  		SELECT NewID()
    </selectKey>  
    <![CDATA[
        INSERT INTO &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo 
        		(id,Title,Context,Status,AnnouncementType,SeqNums,PublishPerson,PublishDate,EnableTimeStart,
        		 EnableTimeEnd,PublishPersonId,CreateDate,PartakePersons,PartakePersonIDs,TeamNames,PublishDept,SchoolType)
        		
		VALUES(#{id},#{title},#{context},#{status},#{announcementType},#{seqNums},#{publishPerson},#{publishDate},#{enableTimeStart},#{enableTimeEnd},
					#{publishPersonId},#{createDate},#{partakePersons},#{partakePersonIDs},#{teamNames},#{publishDept},#{schoolType})
    ]]>
	</insert>
	<!-- 根据数据字典dictionaryCode,查询数据字典信息-->
	<select id="selectDictionaryInfo"  parameterType="Map" resultType="Map">
    <![CDATA[
        select 
		id	as   "ID",
		DictionaryCode	as   "DICTIONARYCODE",
		DictionaryName	as   "DICTIONARYNAME",
		ParentDictionary	as   "PARENTDICTIONARY",
		DictionaryType	as   "DICTIONARYTYPE",
		DictionaryModule	as   "DICTIONARYMODULE",
		Remark	as   "REMARK",
		CreateDate	as   "CREATEDATE",
		UpdateTime	as   "UPDATETIME",
		Operator	as   "OPERATOR"
		from &{framework.tmis.table.prefix['platform']}tbl_PD_DataDictionary where DictionaryCode=#{dictionaryCode}
    ]]>
    </select>
    <!--根据ParentDictionary加载子节点的数据字典的信息 -->
	<select id="loadChildDictionary" parameterType="Map" resultType="Map">
    <![CDATA[
        select * from &{framework.tmis.table.prefix['platform']}tbl_PD_DataDictionary where ParentDictionary=#{parentDictionary}
   				order by DictionaryCode asc
    ]]>
    </select>
    <!-- 依据id删除公告信息 -->
	<delete id="deleteAnnouncement">
	<![CDATA[
        delete from &{framework.tmis.table.prefix['platform']}tbl_Notice_BasicInfo where id in 
    ]]>
    <foreach collection="idAry" index="index" item="item" open="(" separator="," close=")">     
  		#{item}
   	</foreach>
	</delete>
    <!-- 依据ORG_ID查询ORG_CODE即发布单位-->
	<select id="getOrgCode" parameterType="Map" resultType="java.lang.String">
    <![CDATA[
        select ORG_CODE from &{framework.tmis.table.prefix.bua['platform']}BUA_ORGANIZATION where ORG_ID = #{orgId}
    ]]>
	</select>					 
</mapper>
